* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, blue, rgb(14, 139, 14));
}

form {
    box-shadow: 0 0 10px green;
    position: absolute;
    top: 5%;
    left: 35%;
    width: 450px;
    /* margin-left: 50px; */
    height: 600px;
    background-color: white;
    line-height: 30px;
}

h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: blue;
}

input {
    outline: none;
    margin-left: 40px;

    border: none;
    border-bottom-width: 10em;
    border-bottom: 1.3px solid black;
    height: 30px;
    width: 80%;
}

h3 {
    font-weight: 540;
    margin-left: 40px;
    margin-top: 20px;
}

button {
    border: none;
    outline: none;
    background-color: green;
    margin-left: 160px;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    height: 35px;
}
#acc{
margin-left: 67px;
}
 span a{
    text-decoration: none;
}